*, 
*::after, 
*::before {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}

p, h1, h2, h3 {
    overflow-wrap: break-word;
    font-size: 16px;
    font-weight: 400;
}

h1, h2, h3 {
    font-weight: 600;
}

body {
    background: #FB923C;
    background: linear-gradient(145deg, rgba(251, 146, 60, 1) 0%, rgba(236, 72, 153, 1) 30%, rgba(147, 51, 234, 1) 65%);
    color: rgb(10, 10, 10);
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}



.blog-article {
    max-width: 766px;
    padding: 1.5rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.blog-picture {
    border-radius: 1rem;
    max-height: 320px;
    object-fit: cover;
    overflow: hidden;
}

.content-wrapper {
    background-color: #f3f3f3;
    border-radius: 1rem;
    padding: 1.5rem;
}

time,
span {
    color: rgb(74, 85, 101);
}

.blog-header {
margin-bottom: 43px;
}

.blog-title,
h2 {
    margin-bottom: 20px;
}

.intro,
.section-block,
.principles-list div {
    margin-bottom: 28px;
}

h3 {
    margin-bottom: 16px;
}

.section-block p:first-of-type {
    margin-bottom: 24px;
}

.principle-item p:first-of-type {
    margin-bottom: 24px;
}

footer {
    max-width: 766px;
    margin-inline: auto;
    padding-inline: 3rem;
    padding-bottom: 3rem;
}

footer div {
    color: white;
    text-align: center;
    background-color: rgb(16, 24, 40);
    border-radius: 1rem;
    padding: 40px;
}

footer span {
    color: rgb(153, 161, 175);
}


@media screen and (min-width: 768px) and (max-width: 1024px) {

    .blog-article,
    .content-wrapper {
        padding: 2rem;
    }

    .blog-header {
    margin-bottom: 43px;
    }

    .blog-title,
    h2 {
        margin-bottom: 20px;
    }

    .intro,
    .section-block,
    .principles-list div {
        margin-bottom: 28px;
    }

    h3 {
        margin-bottom: 16px;
    }

}

@media screen and (min-width: 1025px) {
    .blog-article,
    .content-wrapper {
        padding: 3rem;
    }

    .blog-header {
        margin-bottom: 48px;
    }

    .blog-title,
    h2 {
        margin-bottom: 24px;
    }

    .intro,
    .section-block,
    .principles-list div {
        margin-bottom: 32px;
    }

    h3 {
        margin-bottom: 16px;
    }
}